<div class="box-banner-login">
    <div class="bannerLogin-box-slick">
        <div class="mini-box d-flex justify-content-center align-items-center" style="flex-direction: column;">
            <img src="~/wwwroot/image/Banner/BannerLogin1.png" style="border-radius: 5px; width: 100%; margin: 32px 0; height: 360px;" />
            <h3 style="font-size: 18px; font-weight: 600; color: #212f3f;">Công cụ viết CV đẹp Miễn phí</h3>
            <p style="font-size: 14px; font-weight: 400; color: #212f3f; padding: 0 32px; text-align: center">Nhiều mẫu CV đẹp, phù hợp nhu cầu ứng tuyển các vị trí khác nhau. Dễ dàng chỉnh sửa thông tin, tạo CV online nhanh chóng trong vòng 5 phút.</p>
        </div>
        <div class="mini-box d-flex justify-content-center align-items-center" style="flex-direction: column; height: 360px;">
            <img src="~/wwwroot/image/Banner/BannerLogin2.png" style="border-radius: 5px; width: 100%; margin: 32px 0;" />
            <h3 style="font-size: 18px; font-weight: 600; color: #212f3f;">Công cụ viết CV đẹp Miễn phí</h3>
            <p style="font-size: 14px; font-weight: 400; color: #212f3f; padding: 0 32px; text-align: center">Nhiều mẫu CV đẹp, phù hợp nhu cầu ứng tuyển các vị trí khác nhau. Dễ dàng chỉnh sửa thông tin, tạo CV online nhanh chóng trong vòng 5 phút.</p>
        </div>
        <div class="mini-box d-flex justify-content-center align-items-center" style="flex-direction: column; height: 360px;">
            <img src="~/wwwroot/image/Banner/BannerLogin3.png" style="border-radius: 5px; width: 100%; margin: 32px 0;" />
            <h3 style="font-size: 18px; font-weight: 600; color: #212f3f;">Công cụ viết CV đẹp Miễn phí</h3>
            <p style="font-size: 14px; font-weight: 400; color: #212f3f; padding: 0 32px; text-align: center">Nhiều mẫu CV đẹp, phù hợp nhu cầu ứng tuyển các vị trí khác nhau. Dễ dàng chỉnh sửa thông tin, tạo CV online nhanh chóng trong vòng 5 phút.</p>
        </div>\
    </div>
</div>