<div class="box-banner-1">
    <div class="banner1-box-title">
        <h3>Tìm việc làm nhanh 24h, việc làm mới nhất trên toàn quốc</h3>
        <p>Tiếp cận hàng ngàn tin tuyển dụng việc làm mới mỗi ngày từ hàng nghìn doanh nghiệp uy tín tại Việt Nam</p>
    </div>
    <div class="banner1-box-slick">
        <img src="~/wwwroot/image/Banner/BannerLong1.png" style="border-radius: 5px;"/>
        <img src="~/wwwroot/image/Banner/BannerLong2.png" style="border-radius: 5px;">
    </div>
</div>