<div class="box-banner-3">
    <div class="banner3-box-slick">
        <img src="~/wwwroot/image/Banner/BannerHeight1.png" style="border-radius: 5px;" />
        <img src="~/wwwroot/image/Banner/BannerHeight2.png" style="border-radius: 5px;" />
        <img src="~/wwwroot/image/Banner/BannerHeight3.png" style="border-radius: 5px;" />
        <img src="~/wwwroot/image/Banner/BannerHeight4.png" style="border-radius: 5px;" />
        <img src="~/wwwroot/image/Banner/BannerHeight5.png" style="border-radius: 5px;" />
        <img src="~/wwwroot/image/Banner/BannerHeight6.png" style="border-radius: 5px;" />
    </div>
</div>