<div class="box-banner-2">
    <div class="banner2-box-slick">
        <img src="~/wwwroot/image/Banner/BannerShort1.png" style="border-radius: 5px;"/>
        <img src="~/wwwroot/image/Banner/BannerShort2.png" style="border-radius: 5px;"/>
        <img src="~/wwwroot/image/Banner/BannerShort3.png" style="border-radius: 5px;"/>
        <img src="~/wwwroot/image/Banner/BannerShort4.png" style="border-radius: 5px;">
    </div>
</div>